:root {
    font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: row;
  font-family: playwrite_gbs, sans-serif, Impact;
  background-image: url(img/bg-leaf-eugene-golovesov.jpg);
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  height: 6rem;
  flex-basis: 35%;
  column-gap: 2rem;
  padding: 0.5rem;
  background-color: rgba(0,0,0, 0.3);
  color: white;
}

.logo-header {
  margin-top: auto;
  margin-bottom: auto;
}

.form-container {
  flex-basis: 65%;
  background-color: rgb(249, 250, 251);
}

.introduction {
    font-weight: bold;
}

.user-form {
    background-color: white;
}

.user-form label {
    display: block;
    width: 13rem;
}

.user-form input {
    width: 17rem;
    height: 1.7rem;
}

.form-row {
    display: flex;
    column-gap: 6rem;
}

.form-row-left {
    margin-left: auto;
}

.user-form label, .user-form input
{
    font-family: Impact, sans-serif, system-ui;
    font-size: 0.8rem;
}

.user-form label {
    letter-spacing: 0.15rem;
}

.confirm-account-button {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    height: 3rem;
    width: 15rem;
    background-color: rgb(169, 27, 27);
    border: none;
    border-radius: 4px;
}

@font-face {
  font-family: "playwrite_gbs";
  src: url("fonts/playwritegbs-variablefont_wght-webfont.woff2") format("woff2"),
    url("fonts/playwritegbs-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
